/*ÆÑ¹«Ó¢*/
.skin_206_thum {background:url(http://static.tieba.baidu.com/tb/cms/frs/bg/bg_206_thum.jpg) no-repeat;}
.skin_206 {background:#3270aa url(http://static.tieba.baidu.com/tb/cms/frs/bg/bg_206_body.jpg) repeat-x top left;}
.skin_206 .wrap1 {background:url(http://static.tieba.baidu.com/tb/cms/frs/bg/bg_206_wrap1.jpg) repeat-x bottom left;}
.skin_206 .wrap2 {background:url(http://static.tieba.baidu.com/tb/cms/frs/bg/bg_206_wrap2.jpg) no-repeat top center;}